.blue-dots {
    /* Source for background-image: https://codepen.io/aanjulena/pen/xGrKh */
    padding: 1em;
    background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
    background-image: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 35%, #ffffff 30%, #ffffff 40%, rgba(0, 0, 0, 0) 90%), radial-gradient(ellipse farthest-corner at 0px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 8px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0px 8px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 40%), radial-gradient(ellipse farthest-corner at 8px 0px, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 20%, #ffffff 15%, #ffffff 20%, rgba(0, 0, 0, 0) 50%), linear-gradient(40deg, #038ecf 0, #51cbf1 30%, #7ff9ff 50%, #51cbf1 70%, #038ecf 100%);
}

.comic-text-bubble {
    background-color: white;
    border: 3px solid black;
    border-radius: 200px;
    margin: auto;
    padding: 1em 2em 1em 2em;
}

.starburst-container {
    width: 100%
}

.starburst {
    display: block;
    margin: auto;
    width: 100%;
}

.yellow-background {
    background-color: #fff665;
}

.comic {
    font-family: 'Komika', 'Lato', sans-serif;
}

.fancy {
    font-family: 'Bangers', cursive;
}

.header-logo {
    background-color: white;
}

.blue-steel-background {
    background-color: #6f83b3;
}

@font-face {
    font-family: Komika;
    src: url(../fonts/Komika_Hand_Bold_Italic.ttf);
}

* {
    color: #000;
    font-family: 'Lato', sans-serif;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FFF;
}

i {
    color: white;
}

.btn {
    border-radius: 0px;
}

.btn-primary {
    background-color: #ff0000;
    border: 3px solid #000;
    font-family: 'Bangers', sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    text-shadow: 3px 3px black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #ff0000;
    border: 3px solid #000;
    color: #fff665;
    text-shadow: 3px 3px #00008e;
}

.caption h3 {
    text-align: center;
}

.caption p {
    text-align: center;
}

.venue-link {
    color: black;
    text-decoration: underline;
}

.venue-link:hover {
    color: #00008e;
    text-decoration: underline;
}

.dropdown-menu>li>a {
    border: 1px solid white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: white;
    color: #9e1111;
    border: 1px solid #dba34c;
}

.col-md-4 {
    border-radius: 0px;
}

.container .jumbotron {
    border-radius: 0px;
}

.jumbotron {
    border: 3px solid #000;
    background-color: #fff;
}

.jumbotron p {
    color: black;
}

.jumbotron .img-responsive {
    margin: 0 auto;
}

a, a:hover {
    text-decoration: none;
}

a:hover {
    color: #00008e;
}

.navbar-toggle.collapsed:hover, .navbar-toggle.collapsed:focus {
    background-color: #00008e;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-family: 'Komika', 'Lato', sans-serif;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px black;
    background-color: #9e1111;
}

.navbar-inverse .nav>li>a {
    color: white;
    font-family: 'Komika', 'Lato', sans-serif;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px black;
    background-color: #9e1111;
}

.navbar-inverse .navbar-brand:hover {
    color: white;
    background-color: #00008e;
}

.navbar {
    background-color: #9e1111;
    border: 3px solid black;
    border-radius: 0px;
    margin-bottom: 20px;
}

.navbar-inverse .nav>li>a:hover, .nav>li>a:focus {
    background-color: #00008e;
}

.navbar-brand {
    display: none;
}

.red-text {
    color: #9e1111;
}

.black {
    color: black;
}

.caped-crusader-purple-text {
    color: #00008e;
}

.tagline a h3 {
    color: #000;
    letter-spacing: 1.5px;
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
}

.tagline-link:hover {
    text-decoration: none;
}

.thumbnail {
    border: 3px solid #000;
    border-radius: 0px;
}

@media only screen and (min-width: 1200px) {
    .tagline {
        padding-top: 20px;
        padding-left: auto;
        padding-right: auto;
        height: 113px;
    }
    .tagline-no-break {
        display: block;
        font-size: 26px;
    }
    .tagline-break {
        display: none;
    }
    .comic-text-bubble {
        font-size: 18px;
        width: 50%;
    }
}

@media only screen and (max-width: 1199px) {
    .thumbnail-header-logo {
        height: 103px;
    }
    .tagline {
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        height: 103px;
    }
    .tagline-break {
        display: none;
    }
    .tagline-no-break {
        display: block;
        font-size: 21px;
    }
    .comic-text-bubble {
        font-size: 16px;
        width: 55%;
    }
}

@media only screen and (max-width: 991px) {
    .thumbnail-header-logo {
        height: 86px;
    }
    .tagline {
        padding-top: 5px;
        padding-left: 40px;
        padding-right: 40px;
        height: 86px;
    }
    .tagline a h3 {
        font-size: 16px;
    }
}

@media only screen and (max-width: 990px) {
    .header-logo {
        margin: 0px;
        display: block;
        min-width: 200px;
        width: 200px;
    }
    .tagline-column {
        width: 100%;
    }
    .tagline {
        height: 86px;
        width: 100%;
    }
    .tagline a h3 {
        font-size: 16px;
    }
    .tagline-break {
        display: block;
        margin-top: 15px;
    }
    .tagline-no-break {
        display: none;
    }
    .jumbotron {
        padding-right: 45px;
        padding-left: 45px;
    }
}

@media only screen and (max-width: 685px) {
    .header-logo {
        margin: 0px;
        display: block;
        min-width: 200px;
        width: 200px;
    }
    .tagline-column {
        width: 100%;
    }
    .tagline {
        width: 100%;
    }
    .tagline a h3 {
        font-size: 18px;
    }
    .tagline-break {
        display: block;
        margin-top: 15px;
    }
    .tagline-no-break {
        display: none;
    }
    .jumbotron {
        padding-right: 45px;
        padding-left: 45px;
    }
}

@media only screen and (max-width: 650px) {
    .header-logo {
        margin: 0px;
        display: block;
        min-width: 200px;
        width: 200px;
    }
    .tagline-column {
        width: 100%;
    }
    .tagline {
        width: 100%;
    }
    .tagline a h3 {
        font-size: 16px;
    }
    .tagline-break {
        display: block;
        margin-top: 17px;
    }
    .tagline-no-break {
        display: none;
    }
    .jumbotron {
        padding-right: 45px;
        padding-left: 45px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
    .adjust-vert {
        display: flex;
        flex-direction: row;
    }
    .adjust-vert>[class^="col-"], .adjust-vert>[class*=" col-"] {
        display: flex;
        align-items: center;
    }
    .comic-text-bubble {
        font-size: 14px;
        width: 70%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-brand {
        display: block;
    }
}

@media only screen and (min-width: 600px) and (max-width: 620px) {
    .tagline a h3 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 599px) {
    .tagline {
        display: none;
    }
    .header-logo {
        margin: 0 auto;
        max-width: 100%;
        display: block;
        width: 200px;
        height: 83px;
    }
    .navbar-brand {
        font-size: 15px;
    }
    .comic-text-bubble {
        font-size: 12px;
        width: 95%;
    }
}

@media only screen and (max-width: 470px) {
    .navbar-brand {
        font-size: 12px;
    }
    .navbar-inverse .navbar-brand {
        font-family: 'Lato', sans-serif;
    }
    .comic-text-bubble {
        font-size: 12px;
        width: 95%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 420px) {
    .jumbotron p {
        font-size: 14px;
    }
    .jumbotron {
        padding-right: 15px;
        padding-left: 15px;
    }
    .btn-lg {
        font-size: 20px;
    }
    .comic-text-bubble {
        font-size: 12px;
        width: 95%;
    }
}

@media only screen and (max-width: 319px) {
    .navbar-brand {
        font-size: 11px;
    }
    .jumbotron p {
        font-size: 14px;
    }
    .jumbotron {
        padding-right: 15px;
        padding-left: 15px;
    }
    .btn-lg {
        font-size: 18px;
    }
    .comic-text-bubble {
        font-size: 12px;
        width: 95%;
    }
}
