* {
    font-family: 'Noto Sans', sans-serif;
    color: #676;
}

.col-md-12, .col-md-8, .col-md-6, .col-md-4 {
    /*border: 1px solid black;*/
}

@media only screen and (min-width: 701px) {
  /* vertaical alignment of content in a Bootstrap column */
  .adjust-vert {
    display: flex;
    flex-direction: row;
  }

  .adjust-vert > [class^="col-"],
  .adjust-vert > [class*=" col-"] {
    display: flex;
    align-items: center;
  }
}
.navbar-inverse .nav>li>a {
	color: white;
	background-color: #9e1111;
}

@media only screen and (max-width: 1000px) {
  .nav>li.social-collapse {
        display: none;
      }
}

@media only screen and (max-width: 768px) {
  .footer {
        display: none;
      }
}

@media only screen and (max-width: 700px) {
  .header-logo {
    background-color: purple;
    margin: 0 auto;
    max-width: 100%;
    display: block;
  }

  .tagline {
    display: block;
    flex-direction: row;
    font-size: 16px;
    text-align: center;
  }
}


.navbar-inverse .nav>li>a:hover,
.nav>li>a:focus {
    background-color: black;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-brand:hover {
  color: white;
  background-color: black;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
  background-color: #9e1111;
}

i {
  color:white;
}

.btn-primary {
  background-color: #9e1111;
  border-color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: white;
    color: #9e1111;
    border: 1px solid black;
}

.dropdown-menu > li > a {
  border: 1px solid white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: white;
    color: #9e1111;
    border: 1px solid black;
}

.caption h3 {
  text-align: center;

}

.caption p {
  text-align: center;
}

.social-bottom {
  text-align: center;
}

.thumbnail:hover,
.thumbnail:focus,
.thumbnail:active {
  border: 1px solid #9e1111;
}

.jumbotron {
  border: 1px solid #eee;
}

.jumbotron:hover,
.jumbotron:focus,
.jumbotron:active {
  border: 1px solid #9e1111;
}
