* {
    font-family: 'Noto Sans', sans-serif;
    color: #676;
}

.col-md-12, .col-md-8, .col-md-6, .col-md-4 {
    /*border: 1px solid black;*/
}

/* vertaical alignment of content in a Bootstrap column */
.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
}

.navbar-inverse .nav>li>a {
	color: white;
	background-color: #9e1111;
}

.navbar-inverse .nav>li>a:hover,
.nav>li>a:focus {
    background-color: black;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
  background-color: #9e1111;
}

i {
  color:white;
}

.btn-primary {
  background-color: #9e1111;
  border-color: black;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: white;
    color: #9e1111;
}

.dropdown-menu > li > a {
  border: 1px solid white;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: white;
    color: #9e1111;
    border: 1px solid black;
}