* {
    font-family: 'Noto Sans', sans-serif;
    color: #676;
}

.col-md-12, .col-md-8, .col-md-6, .col-md-4 {
    border: 1px solid black;
}

/* vertaical alignment of content in a Bootstrap column */
.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
}

.social {
    text-align: right;
}

.featured {
    color: #BCB;
}

.nav>li>a {
	color: white;
	background-color: #9e1111;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #9e1111;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
